* {
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  background: rgb(216,216,216);
  background: linear-gradient(139deg, rgba(216,216,216,1) 0%, rgba(255,255,255,1) 20%, rgba(255,255,255,1) 80%, rgba(216,216,216,1) 100%);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
